@charset "UTF-8";

@media screen and (min-width: 1000px) {
    header {
        padding: 10px;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    header > h1 {
        flex: 0 0 200px;
    }

    span#burguer {
        display: none;
    }

    header > nav {
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: center;
    }

    header > nav > a {
        width: 100px;
        border-radius: 5px;
    }

}