.pg01{
    background-color:rgba(218, 214, 214, 0.315);
    font-size: 18px;
}

.pg02{
    background-color: rgba(180, 250, 180, 0.349);
    color: rgb(14, 71, 14);
    font-size: 18px;
}

.pg03{
    background-color: rgba(241, 241, 163, 0.658);
    color: rgb(252, 174, 8);
    font-size: 18px;
}