@charset "UTF-8";

header, header > nav {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

header > h1 {
    flex-basis: 50px;
}

span#burguer {
    display: block;
}

span#burguer, header > nav > a {
    width: 95vw;
}

main {
    width: 90vw;
}